@page
@model Pages.MH_ThongKeHangTonModel
@using Entities;
<h2>Thống kê hàng tồn</h2>
@if (Model.lstHangTon != null)
{
    <table>
        <tr>
            <th>Mã mặt hàng</th>
            <th>Tên mặt hàng</th>
            <th>Số lượng</th>
        </tr>
        @foreach (HangTon ht in Model.lstHangTon)
        {
            <tr>
                <td>@ht.MaMH</td>
                <td>@ht.TenMH</td>
                <td>@ht.SoLuongTon</td>
            </tr>
        }
    </table>
}
@Model.chuoi
