@page
@model DoAn_LTHDT_NguyenCongDanh_21880020.Pages.MH_ThemLoaiHangModel
<h2>Tạo loại hàng</h2>
<form method="post">
    <label for="Ma">Mã:</label>
    <input name="Ma" /><br />
    <label for="Ten">Tên:</label>
    <input name="Ten" /><br />
    <input type="submit" value="Tạo" />
</form>
@Model.chuoi
