@page
@model DoAn_LTHDT_NguyenCongDanh_21880020.Pages.Shared.MH_XoaHoaDonNhapModel
@using Entities;
<h2>Xóa hóa đơn nhập</h2>
<form method="post">
    @Model.chuoi
    @if (Model.hdn!=null)
    {
        <button type="submit">Xóa</button>
    }
    <a href="/MH_TimKiemHoaDonNhap">Quay lại</a>
</form>