@page
@model DoAn_LTHDT_NguyenCongDanh_21880020.Pages.MH_XoaMatHangModel
@{
}
<form method="post">
    <h2>Xóa mặt hàng</h2>
    Bạn chắc chắn muốn xóa mặt hàng có mã số là @Model.Id?
    <button type="submit">Xóa</button>

    <a href="/MH_TimKiemMatHang">Quay lại</a>
</form>